.userbox {
  padding: 10px 12px;
  border: 1px solid #eee;
  border-radius: 12px;
  background: #fafafa;
}

.userbox .label {
  font-size: 12px;
  color: #666;
}

.userbox .name {
  font-weight: 700;
  margin-top: 4px;
}

.active-link{
  font-weight: 700;
  border-bottom: 2px solid currentColor;
}