<app-mail-toolbar
  title="Outbox"
  [count]="filteredMessages.length"
  [search]="search"
  (searchChange)="search = $event">
</app-mail-toolbar>

<div class="list" *ngIf="filteredMessages.length; else empty">
  <a
    class="row"
    *ngFor="let m of filteredMessages"
    [routerLink]="['/app/message-view', m.id]">

    <div class="main">
      <div class="topline">
        <div class="from">به: {{ m.to }}</div>
        <div class="date">{{ m.createdAt | date:'short' }}</div>
      </div>

      <div class="subject">{{ m.subject }}</div>
      <div class="preview">{{ m.body }}</div>
    </div>
  </a>
</div>

<ng-template #empty>
  <div class="empty">هیچ نامه‌ای در Outbox وجود ندارد.</div>
</ng-template>